<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mipa.mapper.ChapterMapper">

    <resultMap id="ChapterResultMap" type="com.mipa.model.Chapter">
        <id property="id" column="id"/>
        <result property="bookId" column="book_id"/>
        <result property="name" column="name"/>
        <result property="contentInfo" column="content_info"/>
        <result property="chapterOrder" column="chapter_order"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <resultMap id="ChapterInfoResultMap" type="com.mipa.model.Chapter">
        <id property="id" column="id"/>
        <result property="bookId" column="book_id"/>
        <result property="name" column="name"/>
        <result property="chapterOrder" column="chapter_order"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <sql id="ChapterInfoBaseSelect" >
        SELECT id, book_id, name, chapter_order, created_at, updated_at
        FROM chapter
    </sql>

    <sql id="ChapterBaseSelect" >
        SELECT id, book_id, name, content, chapter_order, created_at, updated_at
        FROM chapter
    </sql>

    <sql id="OrderBy">
        <if test="orderBy != null and orderDirection != null">
            ORDER BY ${orderBy.column} ${orderDirection.column}
        </if>
    </sql>

    <sql id = "ifIncludeUnpublished">
        <if test="includeUnpublished != true">
            AND is_publish = TRUE
        </if>
    </sql>

    <select id="selectById" resultMap="ChapterResultMap" parameterType="map">
        SELECT * FROM chapter WHERE id = #{id}
        <include refid="ifIncludeUnpublished"/>
    </select>

    <select id="selectAll" resultMap="ChapterResultMap">
        SELECT * FROM chapter
    </select>

    <insert id="insert" parameterType="com.mipa.model.Chapter">
        INSERT INTO chapter (id, book_id, name, content_info, chapter_order, is_publish)
        VALUES (#{id}, #{bookId}, #{name}, #{contentInfo}, #{chapterOrder}, #{isPublish})
    </insert>

    <update id="update" parameterType="com.mipa.model.Chapter">
        UPDATE chapter
        SET book_id = #{bookId},
        name = #{name},
        content_info = #{contentInfo},
        chapter_order = #{chapterOrder}
        WHERE id = #{id}
    </update>

    <update id="updatePublishState" parameterType="map">
        UPDATE chapter
        is_publish = #{publishState}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="String">
        DELETE FROM chapter WHERE id = #{id}
    </delete>

    <select id="selectInfoAllByBookId" parameterType="map" resultMap="ChapterInfoResultMap">
        <include refid="ChapterInfoBaseSelect"/>
        WHERE book_id = #{bookId}
        <include refid="ifIncludeUnpublished"/>
        <include refid="OrderBy"/>
    </select>

    <select id="selectInfoByBookIdAndOrder" resultMap="ChapterInfoResultMap" parameterType="map">
        <include refid="ChapterInfoBaseSelect"/>
        WHERE book_id = #{bookId} AND chapter_order = #{chapterOrder}
        <include refid="ifIncludeUnpublished"/>
    </select>

    <select id="selectInfoById" resultMap="ChapterInfoResultMap" parameterType="map">
        <include refid="ChapterInfoBaseSelect"/>
        WHERE id = #{id}
    </select>

    <select id="selectByBookIdAndOrder" resultMap="ChapterResultMap" parameterType="map">
        <include refid="ChapterBaseSelect"/>
        WHERE book_id = #{bookId} AND chapter_order = #{chapterOrder}
    </select>

    <select id="selectPublishedInfoById" resultType="com.mipa.model.Chapter">
        <include refid="ChapterInfoBaseSelect"/>
        WHERE id = #{id} AND is_publish = TRUE
    </select>


</mapper>
